@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  @apply 2xl:text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

.transition-all,
.transition-transform,
.transition-colors,
.transition-opacity,
.transition-shadow {
  @apply duration-500;
}

main {
  @apply px-4 pt-6 mx-auto lg:py-20 lg:max-w-[700px] xl:max-w-3xl 2xl:max-w-[900px] xl:w-4/5 2xl:w-[70%];
}

p,
span {
  @apply opacity-70;
}

input,
textarea {
  @apply w-full bg-foreground/70 p-4 rounded-lg opacity-70 focus:opacity-100 focus:outline-primary transition-all tracking-wider;
}

select {
  @apply bg-foreground/70 p-4 rounded-lg opacity-70 focus:opacity-100 focus:outline-primary transition-all tracking-wider;
}
