@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  @apply 2xl:text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

.transition-all,
.transition-transform,
.transition-colors,
.transition-opacity,
.transition-shadow {
  @apply duration-500;
}

main {
  @apply mt-6 mb-8 lg:my-16 px-4 mx-auto lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl xl:w-4/5 2xl:w-[75%];
}

p,
span {
  @apply opacity-70;
}

input,
textarea {
  @apply w-full bg-foreground/70 p-4 rounded-lg opacity-70 focus:opacity-100 focus:outline-primary transition-all tracking-wider;
}

select {
  @apply bg-foreground/70 p-4 rounded-lg opacity-70 focus:opacity-100 focus:outline-primary transition-all tracking-wider;
}

body::-webkit-scrollbar {
  @apply size-2 rounded-lg;
  /* background-color: #f4f4f4; */
}

body::-webkit-scrollbar-thumb {
  @apply bg-primary; /*color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 0.1rem solid white; /* creates padding around scroll thumb */
}
